.header { 
    .logo{
        width: 50px;
        display: block;
      }
     .div ul div { 
        .cajita5 :hover{ 
        width:100%;
     background-color: green  } 
      
        .cajita4 :hover{
        width:100%;
     background-color: pink  }
      
        .cajita3 :hover{
        width:100%;
     background-color: violet; 
       
     nav ul li  { margin: 10px;
        list-style: none;
       color: whitesmoke ;
        font-weight: 250 ;
         }
         
       } }  }
       .header1 {
		font-family: 'Cinzel Decorative', cursive;
		font-size: 48px;
		margin: 0;
	  }
